body {
    background-color: #f7dcdc;
}

#weekly-tasks {
    background-color: #faf2f2;
    border: 1px solid #000;
    max-width: 400px;
    border-radius: 5px;
    align-items: center;
    padding: 10px;
    margin: 10px;
}

