body {
    background-color: #f7dcdc;
}

p, h1 {
    font-size: 16px;
    align-items: center;
    color: #333;
}

#weekly-tasks {
    background-color: #faf2f2;
    border: 1px solid #000;
    border-radius: 8px;
    align-items: center;
    padding: 10px;
    margin: 10px;
}

